# Desafio: Consumo de Dados para Previsão do Tempo das Cidades do Vale do Paraíba.

## Objetivo

Avaliar conhecimentos nas linguagens Python e SQL e na engine de processamento Apache Spark.

## Descrição

Neste desafio, você desenvolverá um notebook que será responsável por extrair dados de previsão do tempo das cidades do Vale do Paraíba, região onde se localiza a Dataside. Para consultar todas as cidades dessa região, utilizaremos a API do IBGE. No caso, basta realizar uma requisição HTTP com o método GET, utilizando a URL abaixo:

```
https://servicodados.ibge.gov.br/api/v1/localidades/mesorregioes/3513/municipios
```

Com esses dados, gerar um data frame e a partir dele uma temp view. Ex: "cities"

Utilizando os nomes das cidades, deverão ser consultados os dados de previsão de tempo para cada cidade. Para realizar essa consulta, poderá ser utilizada qualquer uma das APIs informadas no link abaixo.

[Public APIs - Wather](https://github.com/public-apis/public-apis#weather)

Obs.: Para algumas, pode ser necessário cadastrar-se para acessar sua API Key. Mas nenhuma delas deve precisar cadastrar cartão de crédito ou adicionar qualquer valor monetário para utilizar. Caso alguma solicite, basta optar por outra.

Com os dados consultados, gerar um data frame e partir dele outra temp view. Ex: "forecasts"

Com as temp views geradas, utilizar Spark SQL para criar queries e gerar data frames das seguintes tabelas:

- Tabela 1: dados de previsão do tempo para os próximos cinco dias, para cada data e cidade consultadas. As colunas dessa tabela serão:
    - Cidade
    - CodigoDaCidade
    - Data
    - Regiao
    - Pais
    - Latitude
    - Longigute
    - TemperaturaMaxima
    - TemperaturaMinima
    - TemperaturaMedia
    - VaiChover
    - ChanceDeChuva
    - CondicaoDoTempo
    - NascerDoSol
    - PorDoSol
    - VelocidadeMaximaDoVento
    
    Obs.: Os valores da coluna "VaiChover" deverá ser "Sim" ou "Não". E a coluna "CodigoDaCidade" é o ID retornado junto com os nomes da cidades na API do IBGE.
    Obs.: Dependendo da API utilizada, algumas colunas podem não existir e ficarão em branco. Você deve optar por uma API que traga o maior número de informações possível.

- Tabela 2: quantidade de dias com chuva e sem chuva para os dias consultados, para cada data consultada. Colunas:
    - Cidade
    - QtdDiasVaiChover
    - QtdDiasNaoVaiChover
    - TotalDiasMapeados

Essas tabelas deverão ser exportadas em formado CSV e entregue no final do desafio.

## To Do

[ ] - Consultar municípios do Vale do Paraíba, gerar um data frame e criar uma temp view com esses dados.
[ ] - Consultar dados do tempo para cada município, gerar um data frame e criar uma outra temp view.
[ ] - Utilizar Spark SQL para gerar os data frames das Tabelas 1 e 2.
[ ] - Exportar os data frames para CSV.

## Atenção

- Existe um limite de requisições de 10000 requests por conta cadastrada na m3o.
- Essa API pode retornar cidades de outras regiões que possuem nome semelhante a alguma cidade do Vale do Paraiba. Pode mantê-las ou filtrar para gerar as tabelas apenas com dados de Regiao = Sao Paulo. Fica a seu critério.

## Entregando o desafio

Concluindo todos os passos informados em To Do, basta salvar o arquivo .ipynb do notebook e enviar para a Dataside juntamente com os CSVs das duas tabelas.

In [4]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 47 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 51.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=31f26ce49fca4bb083ef0e81fc264ee7268f93458bfc821efa994db740d8e4b8
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [5]:
pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [6]:
!pip install unidecode

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting unidecode
  Downloading Unidecode-1.3.4-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 7.4 MB/s
Installing collected packages: unidecode
Successfully installed unidecode-1.3.4

In [22]:
# Importanto bibliotecas e iniciando findspark
import findspark
findspark.init()

import requests
import json
import unidecode
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
from pyspark.sql.types import *
from pyspark.sql import functions as f

# Definindo parâmetros com o SparkConf 
# SparkConf seta um nome para a aplicação e a URL para o meu cluster distribuído 
spark_conf = SparkConf() \
      .setAppName("dataside") \
      .setMaster("local[2]")

sc = SparkContext.getOrCreate();

spark = SparkSession.builder \
      .master("local[2]") \
      .appName("dataside") \
      .getOrCreate()

In [ ]:
# Buscando cidades do Vale do Paraíba usando a API do IBGE indicada

# 1. Realizando a requsição HTTP usando o método get
r = requests.get("https://servicodados.ibge.gov.br/api/v1/localidades/mesorregioes/3513/municipios") 

cidades = r.json()

## Mostrando os dados em forma não estruturada - JSON
cidades

In [35]:
# 2. Criar data frame com as cidades

dataframe = spark.read.json(sc.parallelize(cidades))

dataframe.show(dataframe.count(), truncate=False)

+-------+------------------------------------------------------------------------------------------------------+-----------------------+---------------------------------------------------------------------------------------------------------------------+
|id     |microrregiao                                                                                          |nome                   |regiao-imediata                                                                                                      |
+-------+------------------------------------------------------------------------------------------------------+-----------------------+---------------------------------------------------------------------------------------------------------------------+
|3502507|{35051, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Guaratinguetá}       |Aparecida              |{350052, Guaratinguetá, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                          |
|3503158|{35052, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Bananal}             |Arapeí                 |{350053, Cruzeiro, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                               |
|3503505|{35052, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Bananal}             |Areias                 |{350053, Cruzeiro, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                               |
|3504909|{35052, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Bananal}             |Bananal                |{350053, Cruzeiro, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                               |
|3508504|{35050, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, São José dos Campos} |Caçapava               |{350049, São José dos Campos, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                    |
|3508603|{35051, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Guaratinguetá}       |Cachoeira Paulista     |{350053, Cruzeiro, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                               |
|3509700|{35049, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Campos do Jordão}    |Campos do Jordão       |{350050, Taubaté - Pindamonhangaba, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}              |
|3509957|{35051, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Guaratinguetá}       |Canas                  |{350052, Guaratinguetá, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                          |
|3510500|{35054, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Caraguatatuba}       |Caraguatatuba          |{350051, Caraguatatuba - Ubatuba - São Sebastião, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}|
|3513405|{35051, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Guaratinguetá}       |Cruzeiro               |{350053, Cruzeiro, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                               |
|3513603|{35053, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Paraibuna/Paraitinga}|Cunha                  |{350052, Guaratinguetá, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                          |
|3518404|{35051, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Guaratinguetá}       |Guaratinguetá          |{350052, Guaratinguetá, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                          |
|3520202|{35050, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, São José dos Campos} |Igaratá                |{350049, São José dos Campos, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                    |
|3520400|{35054, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Caraguatatuba}       |Ilhabela               |{350051, Caraguatatuba - Ubatuba - São Sebastião, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}|
|3524402|{35050, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, São José dos Campos} |Jacareí                |{350049, São José dos Campos, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                    |
|3524907|{35053, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Paraibuna/Paraitinga}|Jambeiro               |{350049, São José dos Campos, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                    |
|3526308|{35053, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Paraibuna/Paraitinga}|Lagoinha               |{350050, Taubaté - Pindamonhangaba, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}              |
|3526605|{35051, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Guaratinguetá}       |Lavrinhas              |{350053, Cruzeiro, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                               |
|3527207|{35051, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Guaratinguetá}       |Lorena                 |{350052, Guaratinguetá, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                          |
|3531704|{35049, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Campos do Jordão}    |Monteiro Lobato        |{350049, São José dos Campos, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                    |
|3532306|{35053, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Paraibuna/Paraitinga}|Natividade da Serra    |{350050, Taubaté - Pindamonhangaba, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}              |
|3535606|{35053, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Paraibuna/Paraitinga}|Paraibuna              |{350049, São José dos Campos, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                    |
|3538006|{35050, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, São José dos Campos} |Pindamonhangaba        |{350050, Taubaté - Pindamonhangaba, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}              |
|3538501|{35051, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Guaratinguetá}       |Piquete                |{350052, Guaratinguetá, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                          |
|3540754|{35051, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Guaratinguetá}       |Potim                  |{350052, Guaratinguetá, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                          |
|3541901|{35051, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Guaratinguetá}       |Queluz                 |{350053, Cruzeiro, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                               |
|3542305|{35053, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Paraibuna/Paraitinga}|Redenção da Serra      |{350050, Taubaté - Pindamonhangaba, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}              |
|3544301|{35051, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Guaratinguetá}       |Roseira                |{350052, Guaratinguetá, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                          |
|3546009|{35050, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, São José dos Campos} |Santa Branca           |{350049, São José dos Campos, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                    |
|3548203|{35049, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Campos do Jordão}    |Santo Antônio do Pinhal|{350050, Taubaté - Pindamonhangaba, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}              |
|3548609|{35049, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Campos do Jordão}    |São Bento do Sapucaí   |{350050, Taubaté - Pindamonhangaba, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}              |
|3549607|{35052, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Bananal}             |São José do Barreiro   |{350053, Cruzeiro, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                               |
|3549904|{35050, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, São José dos Campos} |São José dos Campos    |{350049, São José dos Campos, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                    |
|3550001|{35053, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Paraibuna/Paraitinga}|São Luiz do Paraitinga |{350050, Taubaté - Pindamonhangaba, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}              |
|3550704|{35054, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Caraguatatuba}       |São Sebastião          |{350051, Caraguatatuba - Ubatuba - São Sebastião, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}|
|3552007|{35052, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Bananal}             |Silveiras              |{350053, Cruzeiro, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}                               |
|3554102|{35050, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, São José dos Campos} |Taubaté                |{350050, Taubaté - Pindamonhangaba, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}              |
|3554805|{35050, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, São José dos Campos} |Tremembé               |{350050, Taubaté - Pindamonhangaba, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}              |
|3555406|{35054, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3513, Vale do Paraíba Paulista}, Caraguatatuba}       |Ubatuba                |{350051, Caraguatatuba - Ubatuba - São Sebastião, {{35, São Paulo, {3, Sudeste, SE}, SP}, 3511, São José dos Campos}}|
+-------+------------------------------------------------------------------------------------------------------+-----------------------+---------------------------------------------------------------------------------------------------------------------+

In [64]:
# 3. Criar view com as cidades

dataframe.createOrReplaceTempView('cidades')
# todas_cidades = spark.sql("SELECT * from cidades")
# spark.sql(todas_cidades).toPandas()

nomes_cidades = spark.sql("SELECT nome FROM cidades")
nomes_cidades.toPandas()

                       nome
0                 Aparecida
1                    Arapeí
2                    Areias
3                   Bananal
4                  Caçapava
5        Cachoeira Paulista
6          Campos do Jordão
7                     Canas
8             Caraguatatuba
9                  Cruzeiro
10                    Cunha
11            Guaratinguetá
12                  Igaratá
13                 Ilhabela
14                  Jacareí
15                 Jambeiro
16                 Lagoinha
17                Lavrinhas
18                   Lorena
19          Monteiro Lobato
20      Natividade da Serra
21                Paraibuna
22          Pindamonhangaba
23                  Piquete
24                    Potim
25                   Queluz
26        Redenção da Serra
27                  Roseira
28             Santa Branca
29  Santo Antônio do Pinhal
30     São Bento do Sapucaí
31     São José do Barreiro
32      São José dos Campos
33   São Luiz do Paraitinga
34            São Sebastião
35                Silveiras
36                  Taubaté
37                 Tremembé
38                  Ubatuba

In [65]:
# Criando lista com o nome de todas as cidades
lista_cidades = dataframe.select("nome").rdd.flatMap(lambda x: x).collect()
lista_cidades

['Aparecida',
 'Arapeí',
 'Areias',
 'Bananal',
 'Caçapava',
 'Cachoeira Paulista',
 'Campos do Jordão',
 'Canas',
 'Caraguatatuba',
 'Cruzeiro',
 'Cunha',
 'Guaratinguetá',
 'Igaratá',
 'Ilhabela',
 'Jacareí',
 'Jambeiro',
 'Lagoinha',
 'Lavrinhas',
 'Lorena',
 'Monteiro Lobato',
 'Natividade da Serra',
 'Paraibuna',
 'Pindamonhangaba',
 'Piquete',
 'Potim',
 'Queluz',
 'Redenção da Serra',
 'Roseira',
 'Santa Branca',
 'Santo Antônio do Pinhal',
 'São Bento do Sapucaí',
 'São José do Barreiro',
 'São José dos Campos',
 'São Luiz do Paraitinga',
 'São Sebastião',
 'Silveiras',
 'Taubaté',
 'Tremembé',
 'Ubatuba']

In [11]:
# 4. Buscar previsão do tempo para as cidades
# TODO

In [12]:
# 5. Criar data frame com as previsões
# TODO

In [13]:
# 6. Criar view com as previsões

In [14]:
# Criar DF da Tabela 1
# TODO

In [15]:
# Criar DF da Tabela 2
# TODO

In [16]:
# Exportar CSVs
# TODO